* {
  box-sizing: border-box; }

.fix {
  transform: scale(0.9);
  position: fixed;
  overflow: hidden;
  height: 100vh; }

button {
  cursor: pointer; }

.index {
  transition: 0.7s transform cubic-bezier(0.43, 0.01, 0, 0.99);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.left-side {
  width: 1252px;
  max-width: 90%;
  margin: 0 auto;
  top: 172px;
  position: relative; }
  .left-side h1 {
    font-size: 96px;
    max-width: 90%;
    margin-bottom: 46px; }
  .left-side p {
    font-size: 22px;
    letter-spacing: 0.35px;
    line-height: 32px;
    max-width: 90%;
    margin-bottom: 58px;
    width: 600px; }
  .left-side input {
    font-size: 20px;
    color: #3d2560;
    font-weight: bold;
    width: 300px;
    height: 58px;
    padding-left: 20px;
    line-height: 58px;
    border-radius: 5px 0 0 5px;
    border: none;
    background-color: #cbbae4;
    outline: none; }
  .left-side input::-webkit-input-placeholder,
  .left-side textarea::-webkit-input-placeholder {
    color: #3d2560; }
  .left-side input:-moz-placeholder,
  .left-side textarea:-moz-placeholder {
    color: #3d2560; }
  .left-side input::-moz-placeholder,
  .left-side textarea::-moz-placeholder {
    color: #3d2560; }
  .left-side input:-ms-input-placeholder,
  .left-side textarea:-ms-input-placeholder {
    color: #3d2560; }
  .left-side button {
    font-size: 20px;
    color: #1f4d56;
    font-weight: bold;
    width: 154px;
    height: 58px;
    text-align: center;
    line-height: 58px;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #dce7e9;
    margin-left: -4px;
    cursor: pointer;
    outline: none;
    margin-bottom: 50px; }

.ham-wrapper {
  width: 1252px;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 154px; }

.hamburger {
  margin-top: 76px;
  width: 42px;
  height: 27px;
  cursor: pointer;
  position: fixed;
  top: 0;
  z-index: 102;
  transition: .3s all; }
  .hamburger div {
    transition: .3s all;
    height: 5px;
    width: 100%;
    background-color: black; }
    .hamburger div:nth-child(2) {
      margin: 6px 0px; }

.opened {
  filter: invert(100%); }
  .opened div {
    width: 150%; }

.last-delivery {
  height: 100vh;
  width: 50vw;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-image: url(../img/aaina-sharma-372997.jpg);
  background-size: cover;
  background-position: center; }
  .last-delivery .text {
    position: absolute;
    bottom: 82px;
    text-align: center;
    width: 100%; }
    .last-delivery .text h4 {
      font-size: 24px;
      font-style: uppercase; }
    .last-delivery .text h3 {
      font-size: 48px; }

.secondScreen {
  z-index: 101;
  visibility: hidden;
  height: 0;
  width: 100vw;
  background: transparent;
  transition: 0.3s background cubic-bezier(0.43, 0.01, 0, 0.99);
  position: absolute;
  top: 0; }
  .secondScreen .secondScreenContent {
    width: 1252px;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 172px; }
    .secondScreen .secondScreenContent .left-side {
      width: 50%;
      position: absolute; }
      .secondScreen .secondScreenContent .left-side .menu-links {
        color: white;
        font-size: 72px;
        font-weight: bold;
        transition: .5s transform ease-in-out, .5s opacity ease-in-out;
        transform: translateX(-300px) scale(0.8);
        opacity: 0;
        position: relative; }
        .secondScreen .secondScreenContent .left-side .menu-links a {
          display: block; }
          .secondScreen .secondScreenContent .left-side .menu-links a:hover {
            color: #afafaf; }
      .secondScreen .secondScreenContent .left-side .opentext {
        transform: translateY(0px) scale(1);
        opacity: 1; }
    .secondScreen .secondScreenContent .right-side {
      width: 454px;
      float: right;
      margin-top: 45px;
      transition: 0.9s transform cubic-bezier(1, 0.01, 0.52, 0.99), 0.9s opacity cubic-bezier(1, 0.01, 0.52, 0.99);
      transform: scale(0.8);
      opacity: 0; }
      .secondScreen .secondScreenContent .right-side .mail h3 {
        font-size: 36px;
        color: #fff;
        font-weight: bold;
        width: 100%;
        margin-bottom: 25px; }
      .secondScreen .secondScreenContent .right-side .mail button {
        width: 100%;
        font-size: 20px;
        color: #1f4d56;
        font-weight: bold;
        border-radius: 5px;
        text-align: center;
        line-height: 58px;
        margin-bottom: 71px;
        background-color: #bae4e0; }
      .secondScreen .secondScreenContent .right-side .donate h3 {
        font-size: 36px;
        color: #fff;
        font-weight: bold;
        width: 100%;
        margin-bottom: 25px; }
      .secondScreen .secondScreenContent .right-side .donate .buttons {
        display: flex;
        width: 100%;
        justify-content: space-between; }
        .secondScreen .secondScreenContent .right-side .donate .buttons button {
          flex-grow: 1;
          font-size: 20px;
          color: #1f4d56;
          font-weight: bold;
          border-radius: 5px;
          text-align: center;
          line-height: 58px; }
          .secondScreen .secondScreenContent .right-side .donate .buttons button:nth-child(2) {
            margin: 0px 20px;
            background-color: #cee4ba; }
          .secondScreen .secondScreenContent .right-side .donate .buttons button:nth-child(1) {
            background-color: #cbbae4; }
          .secondScreen .secondScreenContent .right-side .donate .buttons button:nth-child(3) {
            background-color: #9fc4e7; }
    .secondScreen .secondScreenContent .opennews {
      transform: scale(1);
      opacity: 1; }

.open {
  visibility: visible;
  background: rgba(0, 0, 0, 0.9);
  min-height: 100vh;
  height: auto; }

@media only screen and (max-width: 1250px) {
  .left-side h1 {
    font-size: 80px; }
  .left-side p {
    width: 500px; }
  .left-side input {
    width: 45%;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px; }
  .left-side button {
    width: 22.5%;
    border-radius: 5px;
    display: block;
    margin: 0; } }
@media only screen and (max-width: 1130px) {
  .left-side p {
    width: 370px; } }
@media only screen and (max-width: 825px) {
  .left-side input {
    width: 70%; }
  .left-side p {
    width: 343px; }
  .left-side button {
    width: 40%; }

  .last-delivery {
    width: 100vw;
    position: relative;
    margin-top: 300px; }
    .last-delivery .text h3 {
      font-size: 36px; } }
@media only screen and (max-width: 950px) {
  .secondScreen .secondScreenContent .right-side {
    float: none;
    width: 100%; }
    .secondScreen .secondScreenContent .right-side .mail, .secondScreen .secondScreenContent .right-side .donate {
      width: 40%;
      float: left;
      margin-bottom: 50px;
      margin-top: 150px; }
      .secondScreen .secondScreenContent .right-side .mail h3, .secondScreen .secondScreenContent .right-side .donate h3 {
        font-size: 28px; }
    .secondScreen .secondScreenContent .right-side .mail {
      margin-right: 10%; }

  .secondScreen .secondScreenContent .left-side {
    position: static;
    width: auto; } }
@media only screen and (max-width: 782px) {
  .secondScreen .secondScreenContent .right-side .mail, .secondScreen .secondScreenContent .right-side .donate, .secondScreen .secondScreenContent .left-side .mail, .secondScreen .secondScreenContent .left-side .donate {
    float: none;
    width: 100%;
    text-align: center;
    line-height: 1.38; }
  .secondScreen .secondScreenContent .right-side .mail button, .secondScreen .secondScreenContent .left-side .mail button {
    margin-bottom: 0px; }
  .secondScreen .secondScreenContent .right-side .mail, .secondScreen .secondScreenContent .left-side .mail {
    margin-bottom: 100px; }
  .secondScreen .secondScreenContent .right-side .donate, .secondScreen .secondScreenContent .left-side .donate {
    margin-top: 0px; } }
@media only screen and (max-width: 450px) {
  .left-side h1 {
    font-size: 55px; }

  .secondScreen .secondScreenContent .left-side .menu-links {
    font-size: 55px; } }

/*# sourceMappingURL=home-page.css.map */
